/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos de la barra de navegación */
.navbar {
  background-color: rgb(157, 120, 25); 
  padding: 10px;
}

.navbar-brand {
  color: rgb(28, 17, 11);
  font-weight: bold;
}

.nav-link {
  color: rgb(16, 15, 15);
  margin-right: 15px;
}

/* Cambio del color de los enlaces en hover */
.nav-link:hover {
  color: rgb(21, 20, 18);
}

/* Estilos del ícono de carrito */
.cart-widget {
  display: flex;
  align-items: center;
}

.cart-widget i {
  font-size: 24px;
  color: rgb(36, 34, 34);
  margin-right: 5px;
}

.cart-count {
  background-color: #b2781a;
  color: rgb(30, 28, 28);
  border-radius: 50%;
  padding: 5px 10px;
}

/* Estilos del contenedor de la lista de elementos */
.item-list-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: rgb(192, 192, 192); 
}
